html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
  font-family: 'Archivo Narrow', sans-serif;
}
.container {
  margin: auto;
  width: 85%;
  height: 100%;
  padding: 10px;
}
.content {
height: 100%;
}
header {
  color: rgb(180,180,180);
  background: rgb(80,80,80);
  /*position: fixed;*/
  right: 0;
  top: 0;
  left: 0;
}
.header-menu {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.header-logo {
  width: 7%;
}
.header-list {
  float: left;
  width: 15%;
}
.header-list li {
  padding-left: 10px;
  display: inline-block;
}
.header-oauth {
  width: 78%;
  text-align:right;
  float: right;
}
button {
  margin: 5px;
  padding: 10px;
  border-radius: 1em;
  border: 0px;
}
section {
  height:100%;
  background-image: url('/assets/music_bg.jpg');
}
footer {
  color: rgb(180,180,180);
  background: rgb(40, 40, 40);
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}
#footer-title {
  text-align: center;
}
